<app-topbar></app-topbar>
<div class="container">
  <button (click)="goback()" class="btn btn-default btn-lg">
    返回
  </button>

  <legend><h2 class="text-center">最新公告</h2></legend>
  <div class="list-group">
    <a href="#" class="list-group-item active">[公告] 科传股份向云南高校学子传播零售O2O大数据理念 <time class="pull-right">2016-04-26 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-success" >[公告] 双十一微信支付大优惠<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <!--<a href="#" class="list-group-item list-group-item-info">[公告] 版本更新</a><a href="#" class="list-group-item active">[公告]-->
    <!--科传股份向云南高校学子传播零售O2O大数据理念<time class="pull-right">2016-04-25 00:00:00.0</time></a>-->
    <a href="#" class="list-group-item list-group-item-danger">[公告] 双十一微信支付大优惠<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-warning">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
    <a href="#" class="list-group-item list-group-item-text">[公告] 版本更新<time class="pull-right">2016-04-25 00:00:00.0</time></a>
  </div>


</div>
<app-contact></app-contact>
