<!--contact-group-->
<div class="contact text-center ">
  <!--top-->
  <div style="background: lavender;" data-toggle="tooltip" data-placement="top" title="返回顶部"><a
    href="javascript:scroll(0,0)">
    <img src="http://www.tech-trans.com.cn/resource/root/tpl/101/images/nimg28_5.png" alt=""></a>
  </div>

  <!--wechat-->
  <div style="background: #1b9024;" (mouseenter)="showImg(this)" (mouseout)="hideImg(this)"><img
    src="http://www.tech-trans.com.cn/resource/root/tpl/101/images/nimg28_3.png"
    alt="">
  </div>

  <!--sina-->
  <div style="background: deeppink;"><a target="_blank" href="http://weibo.com/p/1006063630405200"><img
    src="http://www.tech-trans.com.cn/resource/root/tpl/101/images/nimg28_4.png"
    alt=""></a>
  </div>

  <!--phone number-->
  <div style="background: firebrick ;" (mouseenter)="showMobile()" (mouseout)="hideMobile()"><img
    src="http://www.tech-trans.com.cn/resource/root/tpl/101/images/nimg28_1.png"
    alt="">
  </div>

</div>

<!--wechat-->
<div class="row " id="wechat" style="display: none">
  <div class="img-rounded">
    <img src="http://www.tech-trans.com.cn/resource/root/tpl/101/images/nimg100_2.jpg" alt="..."
         class="img-responsive">
    <h4 class="text-center">科传微信</h4>
  </div>
  <div class="img-rounded">
    <img src="http://www.tech-trans.com.cn/resource/root/tpl/101/images/nimg100_1.jpg" alt="..."
         class="img-responsive">
    <h4 class="text-center">科传商网</h4>
  </div>
</div>

<!--mobile-->
<div id="mobile" style="display: none">
  <div class="consult">客户咨询</div>
  <span>400-048-1658</span>
</div>





