<app-topbar></app-topbar>
<div class="container">
  <button (click)="goback()" class="btn btn-default btn-lg">
    返回
  </button>

  <div class="quest_header row center-block ">
    <div class="quest_header_title">
      <span class="center-block"><strong>业务查询</strong></span>
    </div>

    <div class="quest_search col-lg-6 col-md-6 col-sm-12 pull-right ">
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="请输入搜索关键字..."><span
        class="input-group-addon btn btn-primary">搜索</span>
      </div>
    </div>
  </div>


  <div>
    <table class="table table-hover table-bordered">
      <tr>
        <th>#</th>
        <th>日期</th>
        <th>类别</th>
        <th>公司名</th>
        <th>项目</th>
        <th>账号</th>
        <th>最新状态</th>
        <th>申请资料</th>
      </tr>
      <tr>
        <td>2</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>3</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>4</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>5</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>6</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>7</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>8</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
      <tr>
        <td>9</td>
        <td>2017-08-17 17:50</td>
        <td>支付</td>
        <td>科传股份</td>
        <td>第三方支付接口开发</td>
        <td>1002456</td>
        <td>审核阶段</td>
        <td>通联支付API</td>
      </tr>
    </table>
  </div>
</div>


<app-contact></app-contact>
