<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  modalxxxxxx
</button>

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">提示</h3>
      </div>
      <div class="modal-body">
        请登录才使用本功能！
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">知道了</button>
      </div>
    </div>
  </div>
</div>
