<div class="sidebar" id="sidebarIndex" style="left: 0px;">
  <ul class="nav">
    <li class="text-center"><a href="#">
      <img class="img-circle"
           src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1502392699331&di=7bac71dead1075f92585110ff68fb6e9&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01c6c257bfb2e90000012e7ef719c3.gif"
           alt="头像"/>
      <p>请登录</p>
    </a></li>
    <li><a href="#" [routerLink]="['enterpriseInfo']"><span class="glyphicon glyphicon-list " ></span>&nbsp;企业信息</a>
    </li>
    <li><a href="form.html" [routerLink]="['businessQuery']"> <span class="glyphicon glyphicon-search"></span>&nbsp;业务查询</a>
    </li>
    <li><a href="form.html" [routerLink]="['notice']"> <span class="glyphicon glyphicon-volume-up"></span>&nbsp;最新公告</a>
    </li>
    <li><a href="form.html" [routerLink]="['question']"> <span class="glyphicon glyphicon-question-sign"></span>&nbsp;常见问题</a>
    </li>
  </ul>
</div>
