<app-topbar></app-topbar>
<div class="container">
  <button (click)="goback()" class="btn btn-default btn-lg">
    返回
  </button>

  <div class="quest_header row center-block ">
    <div class="quest_header_title">
      <span class="center-block"><strong>解答宝囊</strong></span>
    </div>

    <div class="quest_search col-lg-6 col-md-6 col-sm-12 pull-right ">
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="请输入搜索关键字..."><span class="input-group-addon btn btn-primary">搜索</span>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
