<footer class="footer navbar-fixed-bottom ">
  <div class="container" style="margin-bottom: 20px;font-size: 16px;">

    <div class="text-center col-sm-12">
      <a href="/about/regulations.html">隐私政策</a>|<a href="/about/copyright.html">服务条款</a>|<a href="/about/siteMap.html">网站地图</a>
    </div>
    <div class="pull-right col-sm-12">
      Copyright © 2009-2017 广州市科传计算机科技股份有限公司 版权所有 <a href="http://www.miitbeian.gov.cn">粤ICP备14007753号-2</a><a
      href="http://www.miitbeian.gov.cn">粤ICP备14007753号-6</a>
    </div>

  </div>
</footer>
